body {
	background-color: #F5F5F5;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 1.4em;
	font-weight: 400;
	color: #424242;
}

p {
	font-weight: 100;
	font-size: 1.2;
	color: #424242;
}

button {
	font-size: 1.2em !important;
}

strong {
	font-weight: 500;
}

#footer {
	text-align: center;
	color: #BDBDBD;
	padding:16px;
}

#footer a, #header a {
	color: #BDBDBD;
}

#footer a:hover, #header a:hover {
	color: #424242;
	text-decoration: none;
}

#header {
	text-align: center;
	width: 100%;
	padding:16px;
}

#products2 {

}

#skipIntro {
	display: block;
	padding: 16px;
	margin:auto !important;
	width: 30%;
}

.card {
	width: 100%;
	background-color: #FFFFFF;
	padding: 0;
	border:none;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	overflow: hidden;
  	margin: 8px;
  	display:none;
}

.card:hover {
	box-shadow: 0 4px 12px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.12);
}


.card a {
	color: #212121;
}

.cards {
	margin: 8px 0px 8px 0px;
}

.chatBubble {
	background-color: #EEEEEE;
	border-radius: 16px;
	padding: 0.5rem;
	max-width: 280px;
	margin-top: 8px;
	float: left;
  	clear: left;
  	font-size: 1.2em;
  	font-weight: 400;
  	color: #424242;
  	display:none;
}

.chatBubbles {
	list-style-type: none;
	margin: 0;
	padding-left: 8px;
	display: inline-block;
}

.chatIntro {
	display:none;
}

.chatReply {
	background-color: #007bff;
	color: #FFFFFF;
	margin-top: 16px;
	margin-bottom: 8px;
	/*display:initial;*/
}

.container {
	max-width: 1000px;
	margin-top: 16px;
}

.pageImg {
		position:relative;
		overflow:hidden;
		width:100%;
		height: 200px;
	}

.pageImg img {
	position:absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.pageInfo {
	padding: 16px 16px 0px 16px;
}

.replyButtons {
	margin: 16px 0px 16px 0px;
	height: 42px;
	visibility: hidden;
}

.thumbnail {
    width: 44px;
    height: 44px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: solid 1px #E0E0E0;
    flex-shrink: 0;
    display:none;
}

.thumbnail img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

@media only screen and (min-width: 768px) {
	h1 {font-size: 1.4em;}
	p {font-weight: 100; font-size: 1.2em;}
	button {font-size: 1.2em!important}
	.container {margin-bottom: 50px; margin-top: 50px;}
	.card {width: 400px;}
	.chatBubble {; max-width: 500px;};
	.thumbnail {width: 44px; height: 44px;}
	.pageImg {width:400px;}
}

/*Animations*/
/*.chatBubble {-webkit-animation-delay: 2s;}*/

